// COLORS
$primary-color: #3feaf0;
$secondary-color: #00cdac;

$white-color: #fff;

$dark-grey:#3f3f3e;

$dark-blue-text: #ebe834; // For Headings
//272341
// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
